/*Ajout de police
FH s'en occupe
font-family: 'Bebas Neue', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Montez', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Vast Shadow', cursive;
*/
body{
    font-family: 'Roboto', sans-serif;
    color: #404040;
    font-size: 1em;
}

/*css étienne*/
.containerEP{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputEP{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

input{
    width: 400px;
}

#recipe{
    width: 400px;
    height: 150px;
    margin: auto;
}

.h2EP{
    text-align: left;
}

#h1EP{
    text-align: center;
}

.month{
    text-align: center;
    max-width: 50%;
}

.pEP{
    border: 1px solid rgb(46, 45, 45);
    text-align: center;
}

#menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

button{
    width: 140px;
    margin: auto;
    border-radius: 0;
    cursor: pointer;
}

#site-search{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}


/*CSS Thibault : Articles + images*/
.titreDePage{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.txtArticle{
    display:flex;
    width:60%;
    margin-left:15px;
}

.articleContenu{
    display:flex;
    border-width:1px;
    border-style:solid;
    border-color:black;
    margin-left:auto;
    margin-right:auto;
}


.titreContenu{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.imgArticle{
    width:150px;
    height:150px;
    background-color:grey;
}

/*css logo*/
#imgLogo{
    width: 90px;
    height: 90px;
    position: relative;
    top: 20%;
    left: 85%;  
}
#logo{
    width: 90px;
    height: 90px;    
}
    
/*css recette salade de carottes*/
.bandeau{
    width: 100%;
    height: 50px;
    background-color:orange
}


.h1sco{
    font-family: 'Bebas Neue', cursive;
    color: #F4661B;
}

.h2sco{
    font-family: 'Dancing Script', cursive;
}

.sco{
    line-height: 1.5em;
    text-align: center;
    margin: 2px;
    padding: 2px;
}

.scoinstructions{
    text-align: center;
    line-height: 2em;
}

/*css recette gaspacho de poivrons*/
.gpintro{
    font-family: 'Montez', cursive;
    text-align: center;
    font-size:  1.5em;
    font-weight: bold;
    border: 3px dotted #5e742e;
    border-top-style: none;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}

.gpcont1{
   background: #5e742e; 
   color: white;
   text-align: center;
   line-height: 1.5em;
   padding: 20px;
}

.gph1{
    text-align: center;
    font-family: cursive;
    font-size: 3em;
    color: rgb(0, 150, 150)
}


.gpinstruction{
    margin: auto;
    padding:50px;
    line-height:2em;
    text-align: justify;
}

/*css recette gaspacho de poivrons*/
.gpintro{
    font-family: 'Montez', cursive;
    text-align: center;
    font-size:  1.5em;
    font-weight: bold;
    border: 3px dotted #5e742e;
    border-top-style: none;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}

.gpcont1{
   background: #5e742e; 
   color: white;
   text-align: center;
   line-height: 1.5em;
   padding: 20px;
}

.gph1{
    text-align: center;
    font-family: cursive;
    font-size: 3em;
    color: rgb(0, 150, 150)
}


.gpinstruction{
    margin: auto;
    padding:50px;
    line-height:2em;
    text-align: justify;
}

/*css recette gaspacho de courgettes au chèvre*/
.gcch1{
    font-family: 'Vast Shadow', cursive;
    text-align: center;
    font-size:  3em;
    color: #516138;
}

.gcch2{
    font-family: 'Montez', cursive;
    font-size: 3em;
}

.gccintro {
    font-family: 'Dancing Script', cursive;
    text-align: left;
    font-size:  1.5em;
    font-weight: bold;
}

.gccinstru{

}

/*css recette gaspacho de melon au jambon cru*/
.gmjh1{
    font-family: 'Vast Shadow', cursive;
    text-align: center;
    font-size:  3em;
    color: #181818;
}

.gmjh2{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

.gmjintro {
    font-family: 'Dancing Script', cursive;
    text-align: left;
    font-size:  1.5em;
    font-weight: bold;
    color: #ff7855;
}

.gmjli{
    display: inline;
    

}

.gmjinstru{

}

/*css recette salade qui fait du bien*/
.sqfbh1{
    font-family: 'Montez', cursive;
    text-align: center;
    font-size:  3em;
    color: #456a59;
}

.sqfbhintro {
    font-family: 'Dancing Script', cursive;
    text-align: left;
    font-size:  1.5em;
    font-weight: bold;
    color: #363636;
}

/*css recette salade tout terrain*/
.stth1{
    font-family: 'Montez', cursive;
    text-align: center;
    font-size:  3em;
    color: #ff6347;
}


.sttintro {
    font-family: 'Dancing Script', cursive;
    text-align: left;
    font-size:  1.5em;
    font-weight: bold;
    
}

.cont1a{
    float: left;
}

.sttaside{
    background-color: red;
    width: 340 px;
    height: 300 px;
}



/*Burger menu*/
#menuToggle
{
  display: block;
  position: relative;
  top: auto;
  left: auto;
  
  z-index: 1;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

/*css menu burger*/
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

/*
 *hamburger Menu
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 *the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menuBurger
{
  position: absolute;
  width: 850px;
  height: 900px;
  margin: auto;
  padding-top: 50px;
  padding-left: 40px;
  
  background: #ededed;
  list-style-type: none;
  
  transform-origin: left 0%;
  transform: translate(-200%, 0%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,0.5);
}

#menuBurger li
{
  padding-left: 250px;
  margin: 10px;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: translate(-35%);
}
/*fin css burger menu*/

/*media query grand écran*/
@media screen and (min-width: 940px) {
    .headerEP{
        width: 940px;
    }
    p{
        border: 0;
    }
    #burger{
        display: none;
    }
    .main{
    width: 940px;
    }
}

/*media query petit écran*/
@media screen and (max-width: 939px) {
    .headerEP{
        display: flex;
        flex-direction: row;
    }
    #menu{
        display: none;
    }
    #site-search{
        margin-left: 2em;
        width: 100%;
    }
    .pEP{
        border: 0;
    }
    #imgLogo{
        position: absolute;
        top: 0%;
        left: 80%;
    }
    #logo{
        width: 70px;
        height: 70px;
    }
}
