/*Ajout de police
FH s'en occupe
font-family: 'Bebas Neue', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Montez', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Vast Shadow', cursive;
*/
body{
    font-family: 'Roboto', sans-serif;
    color: #404040;
    font-size: 1em;
}

.containerEP{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputEP{
    margin: 20px;
}

input{
    width: 400px;
}

#recipe{
    width: 400px;
    height: 100px;
}

.h2EP{
    text-align: left;
}

.month{
    text-align: center;
    max-width: 50%;
}

.pEP{
    border: 1px solid rgb(46, 45, 45);
}

#menu{
    list-style-type: none;
    display: flex;
}

button{
    padding-left: 3.5em;
    padding-right: 3.5em;
    border-radius: 0;
    cursor: pointer;
}

#site-search{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}

@media screen and (min-width: 750px) {
    #logo {
        margin-left: 100%;
    }
    p{
        border: 0;
    }
    #burger{
        display: none;
    }
}

#SoupeGaspachoCourgettes{
    display:flex;
    justify-content:center;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

#GaspachoMelonJambon{
    display:flex;
    justify-content:center;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

#GaspachoPoivrons{
    display:flex;
    justify-content:center;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

@media screen and (max-width: 750px) {
    .headerEP{
        display: flex;
    }
    #menu{
        display: none;
    }
    #logo {
        margin-left: 100%;
    }
    #site-search{
        margin-left: 2em;
        width: 100%;
    }
}

/*css recette salade de carottes*/
.bandeau{
    width: 100%;
    height: 50px;
    background-color:orange
}


.h1sco{
    font-family: 'Bebas Neue', cursive;
    color: #F4661B;
}

.h2sco{
    font-family: 'Dancing Script', cursive;
}

.sco{
    line-height: 1.5em;
    text-align: center;
    margin: 2px;
    padding: 2px;
}

.scoinstructions{
    text-align: center;
    line-height: 2em;
}

/*css recette gaspacho de poivrons*/
.gpintro{
    font-family: 'Montez', cursive;
    text-align: center;
    font-size:  1.5em;
    font-weight: bold;
    border: 3px dotted #5e742e;
    border-top-style: none;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}

.gpcont1{
   background: #5e742e; 
   color: white;
   text-align: center;
   line-height: 1.5em;
   padding: 20px;
}

.gph1{
    text-align: center;
    font-family: cursive;
    font-size: 3em;
    color: rgb(0, 150, 150)
}


.gpinstruction{
    margin: auto;
    padding:50px;
    line-height:2em;
    text-align: justify;
}
